[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-wtf = "*"
flask-login = "*"
mysql-connector-python = "*"
undetected-chromedriver = "*"
selenium = "*"
python-dotenv = "*"
pywin32 = "*"
google-genai = "*"
spacy = "*"
databases = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.13"
