[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask-wtf = "*"
flask-login = "*"
mysql-connector-python = "*"
undetected-chromedriver = "*"
selenium = "*"
pywin32 = "*"
spacy = "*"
databases = "*"
faker = "*"
email-validator = "*"
cryptography = "*"
"google.generativeai" = "*"
google-genai = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.13"
