{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
      <h2>Submit Proposal for "{{ job.title }}"</h2>
    <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.bid_amount.label }} {{ form.bid_amount(class="form-control") }}</div>
        <div class="mb-3">{{ form.cover_letter.label }} {{ form.cover_letter(class="form-control") }}</div>
        <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
    </form>
</div>
{% endblock %}